# Companies House personal codes for identity verification

*Source: https://www.gov.uk/guidance/companies-house-personal-codes-for-identity-verification*

[Identity verification: personal codes for Companies House](https://www.youtube.com/watch?v=K9euLaJJRzg)

## What a personal code is

This is an 11 character code that is given to a person once they’ve verified their identity. The code is personal to you, not your company or a company you work for.

## Where to find your personal code

This will depend on whether you verified your identity using GOV.UK One Login, or an Authorised Corporate Service Provider (ACSP, also known as an authorised agent).

### If you verified using GOV.UK One Login

[Sign in to Companies House](https://identity.company-information.service.gov.uk/user/account) and go to ‘Manage account’ to view your code. You’ll need to sign in using the same email address you used when you verified.

If you complete your verification with GOV.UK One Login at a Post Office, you’ll receive an email from GOV.UK with the result of your identity check, usually within one day. You’ll then be able to view your personal code in your Companies House account in the ‘Manage account’ tab.

### If you verified using an ACSP

We sent your personal code to the email address they provided for you.

If you did not receive your code, contact the ACSP who verified you and check what email address they provided.

You’ll need to ask them to contact us if they provided an incorrect email address.

If you saved your personal code to your Companies House account, you can [sign in to Companies House](https://identity.company-information.service.gov.uk/user/account) and go to ‘Manage account’ to view your code.

## How to save your personal code to a Companies House account

If you verified using an ACSP, we recommend that you save your personal code to a Companies House account. You’ll then be able to access the code whenever you need to.

To save your code:

- sign in, or create sign in details using the email address we sent your personal code to
- confirm you have verified your identity
- enter your personal code
- enter your date of birth
[Sign in, or create sign in details to save your personal code](https://identity.company-information.service.gov.uk/identity-verification/direct/has-identity-been-verified).

## How to use your personal code

You’ll need to use your personal code to confirm you have verified your identity if you are a:

- director (or equivalent), or are going to be appointed as one
- person with significant control (PSC), or are going to be one
In the future, you may also need it to file with Companies House on behalf of a company.

You must keep your code safe, although you can share it with people if they file on your behalf. For example, if you use an agent, such as an accountant.

When you use your personal code, we may ask you to confirm your date of birth, so we can check your details match.

You will use the same personal code each time you need to confirm you’re verified.

For example, if you’re a director of multiple companies, you only need to verify your identity once. You’ll then use the same personal code to confirm you are verified for each of your appointments.

### If you’re a director (or equivalent)

If you’re currently a director, you’ll need to provide your personal code in your company’s next confirmation statement filing from 18 November 2025.

If you become a director from 18 November 2025 onwards, you’ll need to provide it as part of your appointment filing or when you incorporate a company.

### If you’re a PSC

You’ll have a 14 day period during which you must provide your personal code.

The dates of your 14 day period depend on whether you:

- registered as a PSC before 18 November 2025
- are also a director of the company
For more information, [read the guidance on when to verify](https://www.gov.uk/guidance/when-you-need-to-verify-your-identity-for-companies-house).

### If you file on behalf of a company

When identity verification becomes a requirement to file on behalf of a company, you may need to provide your code to submit filings. You will not need to do this if you’ve:

- verified your identity using GOV.UK One Login
- saved your personal code to your Companies House account
- registered as an ACSP, or have been added to an ACSP account
## If the personal details linked to your code do not match our records

If you cannot connect your verified identity to our records, it could be because your personal details do not match. Your details may not match if:

- you’ve entered your personal code incorrectly
- your date of birth is incorrect on our records
- an ACSP verified your identity and provided incorrect details for you
Check the date of birth we hold for you on our records is correct. If it’s not correct, you’ll need to change it before you can provide your verification details. To check and update your date of birth, [sign into WebFiling](https://idam-ui.company-information.service.gov.uk/).

If an ACSP verified your identity, you’ll need to contact them. They may need to update the verification details they provided for you.

## If you think your personal code has been shared or compromised

We can change your personal code if you think it’s been shared or compromised. We will send you the new code by email and cancel your previous code.

You’ll need to [contact Companies House](https://www.gov.uk/contact-companies-house) to request this.

