# Companies House approach to non-compliance with mandatory identity verification

*Source: https://www.gov.uk/government/publications/companies-house-approach-to-non-compliance-with-mandatory-identity-verification/companies-house-approach-to-non-compliance-with-mandatory-identity-verification*

## 1. Background to identity verification

By law, the following people must verify their identity for Companies House:

- directors
- the equivalent of directors – this includes members, general partners and managing officers
- [people with significant control (PSCs)](https://www.gov.uk/guidance/people-with-significant-control-pscs)
- Authorised Corporate Service Providers (ACSPs) - also known as Companies House authorised agents
It is unlawful for a director to act as a director without completing identity verification. The company may also be breaking the law if one of its directors or equivalent are not verified. PSCs who do not verify their identities may also be committing an offence.

The meaning of “identity is verified” is set out in section 1110A of the Companies Act 2006.

There are 2 steps to identity verification:

- completing a successful identity verification check (and getting a unique identifier called a Companies House personal code)
- providing an identity verification statement to Companies House to confirm an identity is verified (including supplying the personal code)
[Read the guidance on how to verify your identity for Companies House](https://www.gov.uk/guidance/verifying-your-identity-for-companies-house).

[Read about Companies House and the registrar’s objectives](https://www.gov.uk/government/organisations/companies-house/about).

## 2. Approach to non-compliance with identity verification

For those who do not comply with identity verification requirements, we will take action in line with the following approach and more broadly with [our general compliance framework](https://www.gov.uk/government/publications/companies-house-enforcement-policy/companies-house-enforcement-policy#compliance-framework).

As guiding principles, we’ll aim to ensure transparency, consistency, proportionality, targeting and accountability.

Our approach to enforcement includes 4 broad categories:

- informing people of their obligations
- nudging and guiding
- dealing with non-compliance
- addressing fraud and criminal activity
## 3. Informing people of their obligations

This means communicating with users about what they must do, how and by when.

We use a range of communication content and channels to inform our audience in a timely way about how to comply with identity verification legal requirements.

For example:

- our [Changes to UK company law campaign site](https://changestoukcompanylaw.campaign.gov.uk/) explains the legal requirement to verify your identity
- [our newsletter](https://public.govdelivery.com/accounts/UKCH/subscriber/new) gives regular updates about identity verification
We’ll email companies directly before filing their annual confirmation statement to tell them they must provide identity verification statements for each of their directors by their filing deadline.

We’ve designed our services to be clear and easy to use. They should allow people with legitimate identities to effectively and efficiently comply with the requirement to submit identity verification statements.

For formal enforcement correspondence about identity verification, we will normally send a letter to the company’s service address. For PSCs, we will usually send non- compliance letters to their residential address.

## 4. Nudging and guiding people to comply

We’ll nudge and guide users to comply where it’s appropriate, timely, practicable and reasonable to do so.

We can support people to comply with identity verification requirements in a variety of ways. For example:

- emailing companies with guidance on how to comply
- free [interactive webinars](https://www.gov.uk/government/publications/companies-house-events-calendar)
- free online [guidance on how to verify your identity](https://www.gov.uk/government/collections/companies-house-guidance-for-limited-companies-partnerships-and-other-company-types)
- using contacts in professional bodies
- answering queries, signposting and offering advice through our contact centre
Due to the nature of identity verification, we cannot support users by verifying their identities for them. We’ll strive to signpost and advise people so that they can achieve compliance themselves. For example, we may signpost users to verify their identity online or to use an ACSP, such as an accountant.

Depending on the circumstances and if we receive a representation, we may pause pursuit of non-compliance for a temporary period.

We’ll iterate our services based on insights such as user feedback, compliance rates and customer satisfaction rates to increase usability and encourage compliance.

## 5. Action against non-compliance

In line with the Companies Act 2006 it is our role to uphold the law and ensure that companies comply with their legal requirements.

Where information and guidance do not result in compliance, Companies House will take action using the range of powers available to us. We’ll be guided by value for money and the principles of using our powers proportionately, consistently, transparently and in an evidence based and targeted way.

If users do not comply with identity verification requirements by their due date, we will send them a default letter. This letter will set out the offence of not complying with identity verification requirements and explain that we may pursue enforcement action without further notice.

### 5.1 Enforcement action

We have 3 main routes for enforcement action:

- prosecution through court
- referral to The Insolvency Service
- financial penalties
We’ll select the most suitable enforcement approaches by assessing:

- the nature of the non-compliance and circumstances made in representations
- the seriousness of the case, any aggravating factors, and previous patterns of non-compliance
- the evidence, intelligence and insights available to us
- the value for money, public interest and resources available to us and partners
- how we can work with other government agencies who can use their powers to pursue the best form of enforcement action
- whether other agencies are already taking, or contemplating taking, action in relation to the matter
### 5.2 Addressing fraud and criminal activity

Where there is evidence of aggravated, fraudulent or criminal offences, we will use our strongest powers. We will work with law enforcement partners to deter, disrupt and ultimately convict criminals.

### 5.3 Serious cases for prosecution

In serious cases, we’ll be more likely to use our most significant powers such as prosecution. Prosecution may lead to criminal conviction, director disqualification and fines.

We’re likely to consider non-compliance to be ‘serious’ if a person or company has committed 3 or more offences over a 5 year period.

We will also prioritise resource if needed, by targeting cases that have, for example, used fraudulent identity documentation or where there is evidence of criminal activity.

This is a guideline to help our decision making, rather than a rule. We will also consider the Code for Crown Prosecutors when deciding whether to refer a case for prosecution. Whatever the situation, we will take a reasonable and proportionate approach.

### 5.4 Continuing to act as a director without identity verification

Even where cases are not selected for our prosecution route, directors and equivalents may still be committing an offence under 167M of the Companies Act for continuing to act without identity verification. The company may also be in breach for failing to rectify this.

In these instances, we’ll send the company a letter outlining these offences. This notice will outline the need to comply with identity verification, rectify directors that are not complying or tell us the company is no longer needed.

We may refer those continuing to act without identity verification to The Insolvency Service.

### 5.5 Issuing financial penalties

We may issue financial penalties at company or individual officer level where directors or PSCs fail to comply with identity verification requirements.

### 5.6 Other enforcement methods

We have a range of other enforcement methods available to us, as well as powers that can be delegated to us from the Secretary of State.

We also work closely with a range of partner organisations. We can refer cases to them to use their powers.

Other enforcement methods available to us may include:

- directing a company to take an action or refrain from taking an action
- annotating the register for public transparency
- issuing financial penalties to companies and PSCs
- pursuing a civil case
- pursuing criminal prosecution
- disqualifying directors
- court order – ordering a company to file or provide documents and accounts
- referring a case to other agencies who use their powers such as The Insolvency Service
- prosecuting companies and removing defaulted companies from the register
Ultimately, directors must verify their identities to keep acting as a company director or equivalent. New directors must verify their identities to be appointed as a director or equivalent, or to incorporate a new company.

If directors or equivalents do not file an identity verification statement, they will be in breach of the legislation. If an individual director or equivalent breaches identity verification requirements, the whole company is also breaching requirements.

## 6. Representations

If there are extenuating circumstances you wish us to consider, we’ll give you a timeframe to contact us in writing. This is called a representation.

We will consider representations that we receive within the timeframe in a fair, evidence based and robust way. We will not consider representations received outside of the timeframe.

We will write to you to tell you whether we accept your representation. This decision will be final.

After the timeframe has passed, we may pursue enforcement action without further notice.

We’re likely to accept representations where there’s evidence that circumstances were exceptional and related to the due date. And where it would be disproportionate for us to pursue enforcement activity at that time. For example, a company experiencing serious IT failure when the identity verification statement was due with no other way to complete the task.

If we accept your representation, we will pause enforcement action, usually for up to 2 months. This gives the company time to comply with identity verification requirements or rectify matters affecting their compliance.

Ultimately, you must verify your identity to act as a director or equivalent and remain lawful.

[Find out how to make a representation for not filing an identity verification statement](https://www.gov.uk/government/publications/make-a-representation-for-not-filing-an-identity-verification-statement).

## 7. PSC due date extension

The registrar has discretion to extend the identity verification due date for a PSC by up to 14 days.

By extending the due date, the PSC does not fall into non compliance, but instead remains compliant.

If the PSC does not submit their identity verification statement before the extended due date, they’ll be in breach of the law. We will send a default letter setting out the offences related to identity verification.

After 2 digital extensions, we’ll refer further requests to an examiner to consider along with supporting evidence.

[Find out how to request to extend the identity verification deadline for a PSC](https://www.gov.uk/government/publications/request-to-extend-the-identity-verification-deadline-for-a-person-with-significant-control-psc).

